h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 24px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h4{
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 16px;
}
h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu {
  margin: 1.12em 0
}
h5 {
  font-size: .83em;
  margin: 1.5em 0
}
h6 {
  font-size: .75em;
  margin: 1.67em 0
}
h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: bolder
}
p {
  margin: 1.12em 0
}
img {
  border: 0;
  /*display: block;*/
  margin: 0;
  padding: 0;
}
